<div class="jumbotron background">
    <div class="transbox">
        <p class="lead">
            Toast is sliced bread about 1/2 inch thick that has been browned by exposure to radiant heat.
            This browning is the result of a Maillard reaction, altering the flavor of the bread as well as making it firmer
            so that it is easier to spread toppings on it.
        </p>
    </div>
    <p><a href="https://en.wikipedia.org/wiki/Toast" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>French Toast</h2>
        <p>French toast, also known as eggy bread, Bombay toast, German toast, gypsy toast, poor knights (of Windsor), or Spanish toast,
        is a dish made of bread soaked in milk, then in beaten eggs and then fried, a variation from the traditional spanish dessert called Torrija.</p>
        <p class="btn btn-default" id="french-toast-btn">Learn more &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Melba Toast</h2>
        <p>Melba toast is a dry, crisp and thinly sliced toast, often served with soup and salad or topped with either melted cheese or pâté. 
        It is named after Dame Nellie Melba, the stage name of Australian opera singer Helen Porter Mitchell.</p>
        <p class="btn btn-default" id="melba-toast-btn">Learn more &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Burnt Toast</h2>
        <p>Call a doctor, you might be having a seizure.</p>
        <p class="btn btn-default" id="burnt-toast-btn">Learn more &raquo;</p>
    </div>
</div>
